<h1>Delete Image</h1>
<form action="/image/delete" method="post" >
    <section>
        <label for="imgId">Enter id</label>
        <input id="imgId" name="imgId" type="text" autocomplete="imgId" required>
    </section>
    <button type="submit">Delete</button>
</form>